.header1 {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  font-size: 15px;
  color: rgb(154, 154, 154);
  justify-content: center;
  align-items: center;
  padding-top: 8px;
}

.mail-info {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mail-icon,
.telephone-icon,
.location-icon {
  height: 13px;
  padding-right: 4px;
  display: flex;
  align-items: center;
}

.telephone-info {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.location-info {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.buttonEn,
.buttonSl {
  border: none;
  cursor: pointer;
}

.buttonEnSlSelected {
  background-color: rgb(224, 221, 207);
  border-radius: 5px;
  font-weight: 600;
  text-decoration: underline;
}

.buttonSl {
  margin-right: 25px;
}

.header2 {
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding: 0;
  right: 0;
  left: 0;
}

.naslov-outer {
  padding-left: 20px;
  padding-right: 20px;
  width: 300px;
}
.naslov-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}
.AI-icon {
  flex: 1;
  width: 70px;
  border-radius: 35px;
}
.naslov-text {
  flex: 3;
  color: rgb(133, 131, 131);
}
.ime-za-naslov {
  font-size: 23px;
}

.astrology-inteligence-za-naslov {
  font-size: 13px;
}

.storitve,
.storitve2,
.o-meni,
.kontakt,
.poučni-članki {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
}

.button {
  color: rgb(50, 50, 50);
  font-size: 15px;
  height: 100%;
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 1);
}

.button:hover {
  background-color: rgba(209, 222, 96, 0.5);
  border-radius: 40px;
  transition: background-color 0.3s ease-out;
}

@media (max-width: 1000px) {
  #headerOnDesktop {
    display: none;
  }
  #headerOnMobile {
    margin: 0;
    padding: 0;
  }
}
@media (min-width: 1000px) {
  #headerOnMobile {
    display: none;
  }
  #headerOnDesktop {
    margin: 0;
    padding: 0;
  }
}

.header3 {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}

#mobileMenuButton {
  background-color: white;
  border: none;
  font-weight: 500;
  font-size: 70px;
  padding-right: 20px;
}

#header4 {
  display: none;
  position: fixed;
  background-color: white;
  top: 0;
  right: 0;
  box-shadow: -6px 0px 6px rgba(0, 0, 0, 0.3);
}

.buttonMobile {
  background-color: white;
  border: none;
  margin: 10px;
}
.buttonMobile:hover {
  background-color: rgb(224, 221, 207);
}

#header4.active {
  display: block;
  bottom: 0;
}

.buttonEnMobile,
.buttonSlMobile {
  border: none;
  cursor: pointer;
  font-size: 40px;
  padding: 10px;
  width: 80px;
  margin-top: 20px;
  margin-left: 20px;
}

#toggleMenuX {
  float: right;
  border: none;
  background-color: white;
  font-size: 50px;
}

.storitveMobile {
  margin-top: 100px;
}

.storitveMobile,
.storitve2Mobile,
.o-meniMobile,
.kontaktMobile,
.poučni-člankiMobile {
  padding-left: 10px;
  padding-right: 20px;
  font-size: 60px;
}
.buttonMobile {
  font-size: 40px;
  color: rgb(133, 131, 131);
  font-weight: 500;
}

.mail-iconMobile,
.telephone-iconMobile,
.location-iconMobile {
  height: 25px;
  padding-right: 4px;
  display: flex;
  align-items: center;
}

.mail-infoMobile {
  flex: 1;
  margin-top: 400px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.telephone-infoMobile,
.location-infoMobile {
  flex: 1;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.naslov-innerMobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 600px;
}
.AI-iconMobile {
  flex: 1;
  width: 150px;
  border-radius: 35px;
}
.naslov-textMobile {
  flex: 3;
  color: rgb(133, 131, 131);
}
.ime-za-naslovMobile {
  font-size: 40px;
}

.astrology-inteligence-za-naslovMobile {
  font-size: 25px;
}
